<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testcases.UserRegWithDDTandFakeLibrary"/>
      <class name="testcases.UserRegWithDDTwithExcelfiles"/>
      <class name="testcases.UserRegWithDDT"/>
      <class name="testcases.SearchForItems"/>
      <class name="testcases.SearchProductswithAutoCompelte"/>
      <class name="testcases.ChangeCurrency"/>
      <class name="testcases.ContactUS"/>
      <class name="testcases.UserRegWithDDTwithJsonDataFile"/>
      <class name="testcases.UserRegisteration"/>
      <class name="testcases.OrderReview"/>
      <class name="testcases.ProduvtHover"/>
      <class name="testcases.UserRegWithDDTwithCSVFiles"/>
      <class name="testcases.EmailToFriendTest"/>
      <class name="testcases.UserRegWithDDTPropertiesfile"/>
      <class name="testcases.AddToCompareTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
